    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Cloud... what?</h2>
              <br/>
                <p><strong>Cloud Text User Interface - Fault Tolerant Scalable</strong> (CloudTUI-FTS) is a text user interface written in Python and able to interact with multiple cloud platforms.</p>
                <p>This project is developed by a group of students of the University of the Eastern Piedmont and released free of charge under the GNU General Public License v3.</p>
                <br/>
              </div>
        </div>
    </section>
